.container {
    width: 95%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0px auto;
}


.container>div {
    width: 100%;
    border-radius: 10px;
}

.container button {
    width: 100%;
    max-width: 200px;
    color: inherit;
    font-weight: 400;
    transition: .25s;
    padding: 15px 0px;
    margin-top: 10px;
}



/* First */
.container>div:nth-child(1) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background: url("../../public/assets/home/desktop/pattern-circles.svg") center/cover no-repeat;
    color: var(--clr-light-3);
    overflow: hidden;
    padding: 75px 0px 0px 0px;
}

.container>div:nth-child(1) div {
    flex: .6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.container>div:nth-child(1) div h2 {
    font-size: 3.5rem;
}

.container>div:nth-child(1) div span h2:nth-child(2) {
    margin-top: -20px;
}

.container>div:nth-child(1) img {
    max-width: 400px;
    content: url("/assets/home/desktop/image-speaker-zx9.png");
    position: relative;
    top: 10px;
}

.container>div:nth-child(1) button {
    background-color: var(--clr-dark-2);
}

.container>div:nth-child(1) button:hover {
    filter: opacity(80%);
}



/* Second */
.container>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: url("/assets/home/desktop/image-speaker-zx7.jpg") center/cover no-repeat;
    padding: 100px 0px 100px 75px;
}

.container>div:nth-child(2) h2 {
    font-size: 2.5rem;
}

.container>div:nth-child(2) button {
    border: 2px solid var(--clr-dark-2);
}

.container>div:nth-child(2) button:hover {
    background-color: var(--clr-dark-2);
    color: var(--clr-light-3);
}


/* Third */
.container>div:nth-child(3) {
    display: flex;
    justify-content: space-between;
}

.container>div:nth-child(3) div {
    flex: .49;
    border-radius: 10px;
}

.container>div:nth-child(3) div:nth-child(1) {
    background: url("/assets/home/desktop/image-earphones-yx1.jpg") center/cover no-repeat;
}

.container>div:nth-child(3) div:nth-child(2) {
    background-color: var(--clr-light-1);
    padding: 100px 0px;
}

.container>div:nth-child(3) h2 {
    font-size: 2.5rem;
    margin-left: 50px;
}

.container>div:nth-child(3) button {
    border: 2px solid var(--clr-dark-2);
    margin-left: 50px;
}

.container>div:nth-child(3) button:hover {
    background-color: var(--clr-dark-2);
    color: var(--clr-light-3);
}

/* ******************************** */
/* ******************************** */
/* Media Query */
@media screen and (max-width:1024px) {

    /* First */
    .container>div:nth-child(1) {
        flex-direction: column;
        gap: 50px;
        padding: 75px 0px 50px 0px;
    }

    .container>div:nth-child(1) img {
        max-width: 200px;
        content: url("/assets/home/tablet/image-speaker-zx9.png");
        top: 0px;
    }

    .container>div:nth-child(1) div {
        flex: 1;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .container>div:nth-child(1) div p {
        width: 95%;
        max-width: 400px;
    }


    /* Second */
    .container>div:nth-child(2) {
        background: url("/assets/home/tablet/image-speaker-zx7.jpg") center/cover no-repeat;
    }


    /* Third */
    .container>div:nth-child(3) h2 {
        font-size: 2.25rem;
    }

    .container>div:nth-child(3) div:nth-child(1) {
        background: url("/assets/home/tablet/image-earphones-yx1.jpg") center/cover no-repeat;
    }
}

@media screen and (min-width:0px) and (max-width:650px) {

    /* First */
    .container>div:nth-child(1) img {
        max-width: 150px;
        content: url("/assets/home/mobile/image-speaker-zx9.png");
    }


    /* Second */
    .container>div:nth-child(2) {
        background: url("/assets/home/mobile/image-speaker-zx7.jpg") center/cover no-repeat;
        padding: 100px 0px 100px 25px;
    }


    /* Third */
    .container>div:nth-child(3) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }

    .container>div:nth-child(3) h2 {
        font-size: 2rem;
    }

    .container>div:nth-child(3) div:nth-child(1) {
        min-height: 300px;
        order: -1;
        background: url("/assets/home/tablet/image-earphones-yx1.jpg") center/cover no-repeat;
    }

    .container>div:nth-child(3) h2 {
        margin-left: 25px;
    }

    .container>div:nth-child(3) button {
        margin-left: 25px;
    }
}