.container {
    width: 100%;
    position: fixed;
    transform: translateY(-25px);
    opacity: 0;
    transition: .25s;
    transition-delay: .5s;
    transition-timing-function: linear;
    z-index: 10;
}


.container h2 {
    height: 30px;
    width: fit-content;
    display: flex;
    align-items: center;
    background-color: var(--clr-danger-1);
    color: var(--clr-light-3);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    padding: 0px 20px;
    margin: 0 auto;
}