.container {
    background-color: var(--clr-light-3);
    border-radius: 10px;
    padding: 25px;
}

.container h2 {
    color: var(--clr-primary-1);
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.container form {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.container form div {
    flex: .5;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container form div:nth-child(1) {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.container input {
    width: 100%;
    border: 1px solid var(--clr-light-5);
    border-radius: 5px;
    font-weight: 300;
    padding: 15px 0px 15px 10px;
}

.container input::placeholder {
    opacity: .5;
}


/* ************************* */
/* ************************* */
/* Media Query */
@media screen and (max-width:710px) {
    .container form div {
        flex: 1;
    }
}

@media screen and (max-width:350px) {
    .container {
        padding: 25px 10px;
    }
}