.container {
    height: 50vh;
    max-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-dark-2);
    color: var(--clr-light-3);
}

.container h1 {
    font-size: 3rem;
    letter-spacing: 2px;
}