:root {
    /* colors */
    --clr-primary-1: #ec5d49;
    --clr-primary-2: #d63d51;
    --clr-light-1: #f1f1f1;
    --clr-light-2: #fafafa;
    --clr-light-3: #ffffff;
    --clr-light-4: #6d6d6d;
    --clr-light-5: #cfcfcf;
    --clr-dark-1: #101010;
    --clr-dark-2: #000000;
    --clr-danger-1: #ff0000;

    /* box shadows */
    --bs-1: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --bs-2: rgba(171, 171, 189, 0.4) 0px 7px 29px 0px;
    --bs-3: rgba(171, 171, 189, 0.2) 0px 7px 29px 0;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    background-color: var(--clr-light-3);
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;
}

a {
    all: unset;
    cursor: pointer;
}

button,
textarea,
input {
    font: inherit;
    background: transparent;
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}


ul {
    list-style-type: none;
}

button:disabled {
    pointer-events: none;
    opacity: 0.6;
}

/* remove arrow/spinners from number input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

/* focus visible */
a:focus-visible,
button:focus-visible {
    box-shadow: var(--clr-primary-1) 0px 0px 0px 2px;
}